---
import Layout from "./Layout.astro";

const { description, title, author, pubDate, keywords } = Astro.props.frontmatter;
---

<Layout title={title} keywords={keywords} description={description}>
  <article
    class="prose
  prose-stone
  light:prose-invert
  prose-h2:text-3xl
  prose-a:font-bold
  prose-a:text-blue-800
  prose-h1:font-bold
  prose-h1:text-5xl
  prose-p:text-lg
  prose-img:rounded-xl"
  >
    <h2>{pubDate}</h2>
    <h2>{title}</h2>
    <slot />
  </article>
</Layout>
